* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
}

.header_main {
  height: 100px;
  background-color: grey;
}

.container_main {
  height: 4000px;
  background: yellow;
}

.people_section {
  height: 800px;
  background-color: red;
  width: 70%;
  display: flex;
  margin: auto;
  & :after {
    @include clearFix;
  }
}

.col {
  &_1 {
    height: 300px;
    border: 1px solid black;
    width: 33.33%;
    @include floatBox;
  }
  &_2 {
    height: 300px;
    border: 1px solid black;
    width: 33.33%;
    @include floatBox;
  }
  &_3 {
    height: 300px;
    border: 1px solid black;
    width: 33.33%;
    @include floatBox;
  }
}


.btn {
  margin-right: 30px;
  padding: 0 20px;
}
