.container {
  width: 90%;
  margin: auto;
}

.header_nav {
  width: 90%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  position: fixed;
  z-index: 1000;
  & :after {
    @include clearFix;
  }
  &_left {
    width: 30%;
    height: 80px;
    background-color: white;
    @include floatBoxLeft;
  }
  &_right {
    width: 70%;
    height: 80px;
    text-align: right;
    background-color: white;
    @include floatBoxLeft;
    .burger_menu {
      display: none;
    }
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: #30488E;
  }
  a:hover {
    color: #263972;
  }
}

.jumbo {
  height: 580px;
  padding-top: 160px;
  &_left {
    padding-top: 80px;
    width: 40%;
    background-color: white;
    @include floatBoxLeft;
  }
  &_right {
    padding-top: 80px;
    width: 60%;
    text-align: right;
    @include floatBoxRight;
  }
}

.btn_header {
  margin: 0 25px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid $colorBtn;
  background-color: white;
  color: $colorBtn;
}
.btn_header:hover {
  background-color: $colorBtn;
  color: white;
}
